.header>.header__title {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.main {
  height: 500px;
}

.app {
  max-width: 700px;
  width: 100%;
}

.main__time-inspectors {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}